:root {
    --proposed-cell-size: 32px;
    --cell-size: 32px;

    --unmarked: #4C5B5C;
    --marked: #F6BD60;
}

body {
    margin: 0;
    user-select: none;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--unmarked);
}

.cell.marked {
    background-color: var(--marked);
}

.row:nth-child(even) {
    .cell:nth-child(even) {
        filter: brightness(0.9);
    }
}

.row:nth-child(odd) {
    .cell:nth-child(odd) {
        filter: brightness(0.9);
    }
}
