@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@900&display=swap");

:root {
    --cell-size: 64px;
    --cell-width: var(--cell-size);
    --cell-height: var(--cell-size);
    --cell-smallest: min(var(--cell-width), var(--cell-height));

    --unmarked: #4C5B5C;
    --blank: #F6BD60;

    --blue: #3A86FF;
    --green: #0CCE6B;
    --red: #ED474A;
    --purple: #957FEF;
    --maroon: #A26769; /* I know it's not maroon */
    --turquoise: #1EA896; /* is that how you spell it? */
    --light-purple: #451F55;
    --lighter-purple: #040926;
}

body {
    margin: 0;
    user-select: none;
    color: white;
    overflow: hidden;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell {
    height: var(--cell-height);
    width: var(--cell-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--unmarked);

    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;

    font-size: calc(var(--cell-smallest) - (var(--cell-smallest)) * 0.3);
}

.cell.forming-cell {
    position: absolute;
    animation: forming-cell 0.05s linear;
}

@keyframes forming-cell {
    0% {
        transform: scale(0.9);
        border-radius: 10%;
    }

    100% {
        transform: scale(1);
        border-radius: 0%;
    }
}

.cell.bombs0 {
    background-color: var(--blank);
}

.cell.bombs1 {
    background-color: var(--blue);
}

.cell.bombs2 {
    background-color: var(--green);
}

.cell.bombs3 {
    background-color: var(--red);
}

.cell.bombs4 {
    background-color: var(--purple);
}

.cell.bombs5 {
    background-color: var(--maroon);
}

.cell.bombs6 {
    background-color: var(--turquoise);
}

.cell.bombs7 {
    background-color: var(--light-purple);
}

.cell.bombs8 {
    background-color: var(--lighter-purple);
}

.cell.unmarked .cell {
    filter: none;
}

.row:nth-child(even) {
    .cell:nth-child(even).unmarked,
    .cell:nth-child(even).bombs0 {
        filter: brightness(0.9);
    }
}

.row:nth-child(odd) {
    .cell:nth-child(odd).unmarked,
    .cell:nth-child(odd).bombs0 {
        filter: brightness(0.9);
    }
}
