@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@900&display=swap");

/* I don't like commenting my css, so stop looking! */

:root {
    --cell-size: 64px;
    --cell-width: var(--cell-size);
    --cell-height: var(--cell-size);
    --cell-smallest: min(var(--cell-width), var(--cell-height));

    --unmarked: #4C5B5C;
    --blank: #F6BD60;

    --blue: #3A86FF;
    --green: #0CCE6B;
    --red: #ED474A;
    --purple: #957FEF;
    --maroon: #A26769; /* I know it's not maroon */
    --turquoise: #1EA896; /* is that how you spell it? */
    --light-purple: #451F55;
    --lighter-purple: #040926;
}

body {
    margin: 0;
    user-select: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;

    /* kindly taken from https://css-tricks.com/background-patterns-simplified-by-conic-gradients/ */
    background-color: color-mix(in srgb, var(--unmarked) 90%, black);
    background-image:
        linear-gradient(
            45deg,
            var(--unmarked) 25%,
            transparent 25%, 
            transparent 75%,
            var(--unmarked) 75%,
            var(--unmarked)
        ),
        linear-gradient(
            45deg,
            var(--unmarked) 25%,
            transparent 25%, 
            transparent 75%,
            var(--unmarked) 75%,
            var(--unmarked)
        );
    background-size: calc(2 * var(--cell-size)) calc(2 * var(--cell-size));
    background-position: 0 0, var(--cell-size) var(--cell-size);
}

.reddit-mono-font {
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-content {
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(calc(0.1 * var(--cell-size)));
    z-index: 3;
    transition: backdrop-filter 0.5s linear;
    text-align: center;
}

#title-content.unblur {
    backdrop-filter: none;
}

#title-content-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    transition: top 0.5s ease-in-out;
}

#title-content-wrapper.up {
    top: -100vh;
}

#title-content h1 {
    font-size: 4rem;
}

#title-content input {
    color: white;
    border-radius: 1rem;
    border: none;
    transition: background-color 0.05s linear;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    margin: 0.5rem;
    width: 400px;
}

#title-content-wrapper input:nth-child(2) {
    background-color: var(--blue);
}

#title-content-wrapper input:nth-child(3) {
    background-color: var(--green);
}

#title-content-wrapper input:nth-child(4) {
    background-color: var(--red);
}

#title-content-wrapper input:nth-child(5) {
    background-color: var(--purple);
}

#title-content-wrapper input:nth-child(6) {
    background-color: var(--maroon);
}

#title-content input:hover {
    background-color: var(--blank);
}

#title-content input:active {
    transform: scale(0.95);
}

#title-content input.large-button {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cell {
    height: var(--cell-height);
    width: var(--cell-width);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--unmarked);
    font-size: calc(var(--cell-smallest) - (var(--cell-smallest)) * 0.3);
}

.cell.bombs0 {
    background-color: var(--blank);
}

.cell.bombs1 {
    background-color: var(--blue);
}

.cell.bombs2 {
    background-color: var(--green);
}

.cell.bombs3 {
    background-color: var(--red);
}

.cell.bombs4 {
    background-color: var(--purple);
}

.cell.bombs5 {
    background-color: var(--maroon);
}

.cell.bombs6 {
    background-color: var(--turquoise);
}

.cell.bombs7 {
    background-color: var(--light-purple);
}

.cell.bombs8 {
    background-color: var(--lighter-purple);
}

.cell.unmarked .cell {
    filter: none;
}

.row:nth-child(even) {
    .cell:nth-child(even).unmarked,
    .cell:nth-child(even).bombs0 {
        filter: brightness(0.9);
    }
}

.row:nth-child(odd) {
    .cell:nth-child(odd).unmarked,
    .cell:nth-child(odd).bombs0 {
        filter: brightness(0.9);
    }
}

.cell.forming-cell {
    position: absolute;
    animation: forming-cell 0.05s linear;
}

@keyframes forming-cell {
    0% {
        transform: scale(0.9);
        border-radius: 10%;
    }

    100% {
        transform: scale(1);
        border-radius: 0%;
    }
}

@keyframes pop-spawn {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.broken-piece-container {
    position: absolute;
}

.broken-piece {
    position: absolute;
    height: var(--cell-height);
    width: var(--cell-width);
    top: 0;
    left: 0;
    background-color: white;
    opacity: 1;
    transition: transform 0.5s linear, opacity 0.25s linear;
}

.broken-piece.left {
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
}

.broken-piece.top {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
}

.broken-piece.right {
    clip-path: polygon(100% 100%, 100% 0, 50% 50%);
}

.broken-piece.bottom {
    clip-path: polygon(100% 100%, 0 100%, 50% 50%);
}

div.explosion {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url("./assets/explosion.png");
    background-repeat: no-repeat;
}

div.firework {
    position: absolute;
    width: 35px;
    height: 35px;
    background-image: url("./assets/fireworks.png");
    background-repeat: no-repeat;
}

#cursor-info {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    text-overflow: clip;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    display: none;
}

.glass-blur {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(calc(0.1 * var(--cell-size)));
}
